<div class="media-list-item no-padding" back-img="{{mediaItem.img_cover}}">
  <div class="row row-center no-padding">
    <div class="col thumbnail-col">
        <img ng-src="{{mediaItem.img_poster}}" class="thumbnail padding-right">
    </div>
    <div class="col no-padding"></div>
    <div class = "content col padding item-text-wrap">
        <h2>{{mediaItem.title}}</h2>
        <!-- <h3>{{mediaItem.type}}</h3> -->
        <h3 ng-class="{'unpublished': today < mediaItem.release_date}">{{mediaItem.release_date | date}}</h3>
        <d class="media-type-icon bottom-right icon"
        ng-class="{'ion-film-marker': mediaItem.type == 'Movie',
                  'ion-ios-chatbubble': mediaItem.type == 'Comic',
                  'ion-ios-book': mediaItem.type == 'Book',
                  'ion-ios-monitor': mediaItem.type == 'TV'}"></i>
    </div>
    <div class="col no-padding"></div>
    <div class = "canon-date-col padding-left col">
      <div class="canon-date padding-top padding-bottom">
        <h2 class="canon-date" ng-if="mediaItem.canon_date_begin >= 0">{{mediaItem.canon_date_begin}} ABY</h2>
        <h2 class="canon-date" ng-if="mediaItem.canon_date_begin < 0">{{mediaItem.canon_date_begin | abs}} BBY</h2>
      </div>
    </div>
  </div>
</div>