body{
	font-size:100%;
	line-height: 120%;
}

.no-padding {
    padding: 0px !important;
}

.bottom-right {
	position: absolute;
    bottom: 0;
    right: 0;
}

.border {
	border: solid;
}

.border-red {
	border: solid;
	border-color: #ff0000;
}

.border-green {
	border: solid;
	border-color: #00ff00;
}

.border-blue {
	border: dotted;
	border-color: #0000ff;
}


/*items in lists have no side padding now*/
.item-content{
	padding-top:0px !important;
	padding-right:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
}

/*mediaListItem*/
.media-list-item {
	padding-right: 0px !important;
	padding-left: 0px !important;
	background-position: center;
}

.media-list-item h2 {
	font-size: 1em;
}

.media-list-item h3 {
	font-size: 0.88em;
}

.media-list-item .thumbnail {
	width: 100%;
}

/*.thumbnail-wrapper {
	max-width: 300px;
}*/

.media-list-item .thumbnail-col {
	min-width: 30%;
	max-width: 200px !important;
}

.media-list-item .content {
	background-color:rgba(255,255,255,0.8);
	min-width: 50%;
	max-width: 700px !important;
}

.unpublished {
	color: #bb0000;
}

.media-list-item .canon-date {
	background-color:rgba(255,255,0,0.9);
	text-align: center;

}

.media-list-item .canon-date-col {
	padding-right: 0px !important;
	min-width: 20%;
}

@media screen and (min-width: 545px) {

	.big-list .media-list-item {
		font-size: 125%;
		line-height: 120%;
	}

	.big-list .media-list-item .thumbnail {
		margin-left: 5%
	}
}

@media screen and (min-width: 667px), screen and (orientation: landscape) {
/*	.media-list-item .content {
		background-color:rgba(0,255,0,0.7);
	}*/
	.big-list .media-list-item {
		font-size: 150%;
		line-height: 120%;
	}

	.char-content .media-list-item .thumbnail-col {
		min-width: 120px !important; /*30% of screen min-width*/
		max-width: 120px !important; /*30% of screen min-width*/
	}

	.big-list .media-list-item .thumbnail-col {
		min-width: 120px; /*30% of screen min-width*/
		max-width: 120px; /*30% of screen min-width*/
	}


	.big-list .media-list-item .content {
		min-width: 400px; /*50% of screen min-width*/
		max-width: 1200px;
	}

	.big-list .media-list-item .canon-date-col {
		max-width: 250px;
		min-width: 100px;

	}
}

@media screen and (min-width: 1300px) {
/*	.media-list-item .content {
		background-color:rgba(255,0,0,0.7);
	}*/

	.big-list .media-list-item .thumbnail-col {
		margin-left: 3%;
	}

	.media-detail {
		margin-left: 3%;
	}

	.char-content {
		margin-left: 3%;
		/*max-width: 300px !important;*/
	}


}

.media-list-item .media-type-icon {

	text-align: right;
	font-size: 1.6em;
	/*width: 15%;*/
	/*height: 35%;*/
	/*margin-bottom: 10px;*/
	margin-right: 5%;
}


/*media details*/
.media-detail {
	padding-top:10px !important;
	padding-right:5px !important;
	padding-bottom:5px !important;
	padding-left:10px !important;
}

.media-detail .poster-col {
	width: 50%;
	max-width: 150px
}


.media-detail .poster {
	width: 100%;
	/*max-height: 500px*/
}

.media-detail h2 {
	font-size: 1.3em;
	font-weight: bold;
}

.media-detail h3 {
	font-size: 0.8em;
	font-style: italic;
}

.media-detail p {
	font-size: 1em;
}

@media screen and (min-width: 545px) {
	.media-detail {
		font-size: 125%;
		line-height: 120%;
	}
}

@media screen and (min-width: 1000px) {
	.media-detail {
		font-size: 150%;
		line-height: 120%;
	}
}

.avatar {
	width: 100%;
}

.detail-character-row {
	max-width: 900px;
}


.char-col {
	max-width: 17%;
}

.col-padder {
	width: 30px;
}

.synopsis p {
	white-space: pre-line !important;
	max-width: 900px;
}


/*CharacterList*/
.charListRow {
	/*min-width: 30%;
	max-width: 20px !important;*/
	max-height: 100px;
}

.charList .thumbnail-col {
	/*min-width: 30%;
	max-width: 20px !important;*/
	max-width: 20%;
}

.charList .avatar {
	/*min-width: 30%;
	max-width: 20px !important;*/
	max-width: 100px;
}

.charList h2 {
	font-size: 1.2em;
	padding: 10px;
	/*font-weight: bold;*/
	/*margin-bottom: 0px !important;*/
}

.char-content  h2 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0px !important;
}

.char-content h3 {
	font-size: 0.85em;
}

.appearances h3 {
	text-align: center;
	padding-top: 5px;
	max-width: 1000px;
	font-size: 1.5em;
}

.mini-media-list {
	font-size: 100%;
	max-width: 1000px;
}

.mini-media-list h2 {
	font-size: 1.2em;
}

.char-content p {
	font-size: 1em;
}

.char-content .name {
	padding: 0px !important;
	margin-bottom: 0px !important;
	max-width: 300px !important;
}

.char-content .char-detail-row {
	text-align: center;
	max-width: 1000px;
}

.avatar-wrapper {
	width: 50%;
	max-width: 300px !important;
	margin-bottom: 0px !important;
}


.tab-item .badge {
  opacity: 0.8 !important;
}

.tab-item-active .badge {
  opacity: 1 !important;
}