<ion-view view-title="Characters">

  <!-- Search bar   -->
  <div class="bar bar-subheader 
    item-input-inset bar-light bar-custom">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>

  <ion-content 
    class="has-subheader">
    <ion-list class="charList">
      <ion-item class="item charListItem"
      ng-repeat="char in characters | filter: query | orderBy: 'name'"
      href="#/tab/charList/{{char.id}}"
      transitiontype="slide" direction="left" go-native>
        <div class="row row-center charListRow">
          <div class="col thumbnail-col">
            <img ng-src="{{char.img}}" class="avatar">
          </div>
        
          <div class="col">
            <h2>{{char.title}} {{char.name}}</h2>
          </div>
       <!-- <media-list-item media-item="item" today="today" yesterday="yesterday"></media-list-item> -->
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>