<ion-header-bar class="bar-dark">
	<h2 class="title">Details</h2>
</ion-header-bar>

<ion-view>
	<ion-content>
		<!-- list for capability of showing details of multiple items -->
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap"
			ng-repeat="item in media | filter: {id: whatmedia}">
			      <img ng-src="{{item.img}}"
			        alt="{{ item.title }} Photo">
			      <h2>{{item.title}}</h2>
			      <h3>{{item.type}}</h3>
			      <p>{{item.synopsis_long}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>