<ion-header-bar class="bar-dark">
	<h2 class="title">Details</h2>
</ion-header-bar>

<ion-view>
	<ion-content>
		<!-- list for capability of showing details of multiple items -->
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap media-detail"
			ng-repeat="item in media | filter: {id: whatmedia}">
				<div class="row">
					<div class="col-50 padding">
						<img ng-src="{{item.img_poster}}"
		        		alt="{{ item.title }} Photo" class="poster">
					</div>
	        		<div class="col col-center">
	        			<h1>{{item.title}}</h1>
				    	<h2>{{item.type}} - {{item.release_date | date}}</h2>
				    	<div class="specs">
					    	<div><b>Timeline: </b>
				    		{{item.canon_date_begin | abs}}
        					<span ng-if="item.canon_date_end"> - {{item.canon_date_end | abs}}</span>
    						<span ng-if="item.canon_date_begin > 0"> ABY</span>
    						<span ng-if="item.canon_date_begin < 0"> BBY</span>
        					</div>
        					<div ng-if="item.author" ng-repeat="person in people | filter: {id: item.author}">
        					<b>Author: </b> {{person.name}}</div>
        					<div ng-if="item.director" ng-repeat="person in people | filter: {id: item.director}">
        					<b>Director: </b> {{person.name}}</div>
        					<div ng-if="item.writers"><b>Writers:</b>
        						<span ng-repeat="writerId in item.writers">
        							<span ng-repeat="person in people | filter: {id: writerId}">
        								{{person.name}} </span>
        						</span>
    						</div>
        				</div>
	        		</div>
				</div>
				<p>{{item.synopsis_long}}</p>
			      
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>