<ion-view view-title="Canon">

  <!-- Search bar   -->
  <div class="bar bar-subheader 
    item-input-inset bar-light bar-custom">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>

  <ion-content 
    class="has-subheader">

    <ion-list>
      <ion-item ng-repeat="item in media | filter: query | orderBy: 'canon_date_begin'"
       href="#/tab/list/{{item.id}}">
        <media-list-item media-item="item" today="today" yesterday="yesterday"></media-list-item>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>