<ion-header-bar class="bar-dark">
	<h2 class="title">Details</h2>
</ion-header-bar>
<ion-view view-title="Details">
	<ion-content>
		<!-- list for capability of showing details of multiple items -->
		<ion-list>
			<ion-item class="item-text-wrap"
			ng-repeat="item in media | filter: {id: whatmedia} | limitTo: 1">
			<div class="media-detail">
				<div class="row no-padding">
					<div class="col poster-col no-padding">
						<img ng-src="{{item.img_poster}}"
		        		alt="{{ item.title }} Photo" class="poster"
		        		ion-track-tap="PictureTap" ion-track-doubletap="PictureDoubleTap" ion-track-data="{ mediaItemId: item.id, mediaItemTitle: item.title }">
					</div>
					
	        		<div class="col col-center">
	        			<h2>{{item.title}}</h2>
				    	<h3>{{item.type}} - {{item.release_date | date}}</h3>
				    	<div class="specs">
					    	<div><b>Timeline: </b>
				    		{{item.canon_date_begin | abs}}
				    		<span ng-if="(item.canon_date_begin > 0) && ((!item.canon_date_end) || (item.canon_date_end < 0))"> ABY</span>
    						<span ng-if="(item.canon_date_begin < 0) && ((!item.canon_date_end) || (item.canon_date_end > 0))"> BBY</span>
        					<span ng-if="item.canon_date_end"> - {{item.canon_date_end | abs}}</span>
    						<span ng-if="item.canon_date_end > 0"> ABY</span>
    						<span ng-if="item.canon_date_end < 0"> BBY</span>
        					</div>
        					<div ng-if="item.author"><b>Author: </b> {{item.author}}</div>
        					<div ng-if="item.director"><b>Director: </b> {{item.director}}</div>
        					<div ng-if="item.writers"><b>Writers:</b>
        						<p ng-repeat="writer in item.writers">
        								 {{writer}}</p></div>
    						<div ng-if="item.creators"><b>Creators:</b>
        						<p ng-repeat="creator in item.creators">
        								 {{creator}}</p></div>
        				</div>
	        		</div>
				</div>
				<b>Characters</b>
				<div class="detail-character-row row">
					<span class="col char-col" ng-repeat="charId in item.characters | limitTo: 6">
						<a ng-repeat="char in characters | filter: {id: charId} | limitTo: 1"
						href="#/tab{{routeFix}}/charList/{{charId}}" transitiontype="slide" direction="left" go-native
						ion-track-tap="CharClick" ion-track-data="{ characterId: char.id, characterName: char.name, listIndex: $parent.$index, sourceTab: 'mediaDetail', sourceMediaId: item.id, sourceMediaTitle: item.title}">
						<!-- <a ng-repeat="char in characters | filter: {id: charId} | limitTo: 1"
						href="#/tab{{routeFix}}/charList/{{charId}}"> -->	
						<!-- #/tab{{/canon}}/charList/charId if in #/tab/charList/canon/mediaId -->
						<!-- #/tab{{      }}/charList/charId if in #/tab/canon/mediaId -->
							<img ng-src="{{char.img}}" class="avatar">
						</a>
					</span>
				</div>

				<b>Story</b>
				<div class="synopsis" ng-click="synopsis_long = !synopsis_long"  ion-track-tap="StoryClick" ion-track-data="{ mediaItemId: item.id, mediaItemTitle: item.title }">
					<p ng-show="!synopsis_long">{{item.synopsis_short}}<br><b>TAP TO READ MORE!</b></p>
					<p ng-show="synopsis_long">{{item.synopsis_long}}<br><b> TAP TO MINIMIZE.</b></p>
		      	</div>
	      	</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>