<ion-view view-title="Settings">

  <!-- Search bar   -->
  <div class="bar bar-subheader 
    item-input-inset bar-light bar-custom">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>

  <ion-content 
    class="has-subheader">
      <button class="button button-primary button-block " >
        Check for updates
      </button>
      <button class="button button-balanced button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
        Update!
      </button>
  </ion-content>
</ion-view>