<ion-list class="sortPopup">
	<ion-item ng-click="closePopup('canon_date_sort', 'Chronological order')">Chronological order <span class="item-note">(default)</span></ion-item>
	<ion-item ng-click="closePopup('-canon_date_sort', 'Reverse chronological order')">Reverse chronological order</ion-item>
	<ion-item ng-click="closePopup('release_date', 'Release order')">Release order</ion-item>
	<ion-item ng-click="closePopup('-release_date', 'Reverse release order')">Reverse release order</ion-item>
</ion-list>