<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark">

	<ion-tab title="Canon" icon="ion-ios-ionic-outline" href="#/tab/canon"
		 ion-track-tap="TabChange" ion-track-data="{ destination: 'canon'}">
		<ion-nav-view name="canon-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Characters" icon="ion-ios-people" href="#/tab/charList"
		 ion-track-tap="TabChange" ion-track-data="{ destination: 'charList'}">
		<ion-nav-view name="charList-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Settings" icon="ion-gear-a" href="#/tab/settings" badge="updates.num" badge-style="badge-energized"
		 ion-track-tap="TabChange" ion-track-data="{ destination: 'settings'}">
		<ion-nav-view name="settings-tab"></ion-nav-view>
	</ion-tab>


</ion-tabs>